<ion-header>
    <!-- -->
    <ion-navbar color="primary">
        <ion-buttons left>
            <!-- -->
            <button ion-button icon-only color="white" (click)="settings()">
      <ion-icon name="settings"></ion-icon>
    </button>
        </ion-buttons>

        <!-- -->
        <ion-title color="White">
            Nature Net Kids
        </ion-title>

        <!-- -->
        <ion-buttons end>
            <button ion-button icon-only color="white" (click)="help()">
        <ion-icon name="md-help"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <!--Signup and Login test buttons -->
    <!--Name of logedin person -->
    <!-- Float the icon left -->
    <div *ngIf!="auth.authState">
        <button ion-button full (click)="goToLogin()">
                <ion-icon name="login"></ion-icon>
                    Login
            </button>
    </div>
    <!-- Float the icon right-->
    <div *ngIf="auth.authState">
        <button ion-button full (click)="logout()">
                <ion-icon name="logout"></ion-icon>
                    Logout
            </button>
    </div>


    <ion-list no-lines>
        <ion-item>
            <ion-row>
                <div *ngIf="auth.authState">
                    <ion-item>
                        <ion-avatar item-left>
                            <img>
                        </ion-avatar>
                        <h1>{{auth.currentUser}}</h1>
                        <p> Points </p>
                    </ion-item>
                </div>
            </ion-row>
        </ion-item>
        <!-- -->
        <ion-item>
            <button ion-button large full color="danger" (click)="takePhotoPage()">
                <ion-icon name="md-camera">
                    <br>Add Picture
                </ion-icon>
            </button>
        </ion-item>
        <!-- -->
        <ion-item>
            <button ion-button large full color="secondary" (click)="seeProjects()">
                <ion-icon name="md-images">
                    <br>Look at a Picture
                </ion-icon>
            </button>
        </ion-item>
    </ion-list>

</ion-content>