<ion-header>

    <ion-navbar color="primary">
        <ion-buttons left>
            <button ion-button icon-only color="white" (click)="home()">
      <ion-icon name="md-home"></ion-icon>
    </button>

        </ion-buttons>
        <ion-title>
            Nature Net Kids
        </ion-title>

        <ion-buttons end>
            <button ion-button icon-only color="white" (click)="help()">
        <ion-icon name="md-help"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding>

    <h1> Observations Page </h1>


    <div item-content *ngFor="let observation of observations | async">
        <div *ngIf="observation.data.text!=''">
            <ion-item color='secondary'>
                <!--<p>Observation Text:</p>-->
                <p align="top">{{observation.data.text}}</p>
                <!--<p>Observation Image:</p>
                {{observation.data.image}}-->
            <!--</ion-item>-->
                <img src={{observation.data.image}}>
            </ion-item>
            <br>
        </div>
    </div>

</ion-content>